name: Yandex Practicum Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  yandex-tests:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          path: 'project-folder'
      
      - name: Debug info
        run: |
          echo "Working directory: $(pwd)"
          ls -la
          echo "Project folder contents:"
          ls -la project-folder/
      
      - name: Run Yandex tests
        uses: Yandex-Practicum/test-project-action@v1
        with:
          # Попробуйте разные варианты имени проекта:
          project: 'AuctionFrontCourse'  # Или попробуйте: 'auction-front-lab'
          # Или: 'ono-tebe-nado-ad-main'